@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  color: #444;
}
.error {
  color: #ff3f80;
  font-size: 1.4rem;
  margin-top: 1rem;
}
button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: .5rem;
  padding: 1.2rem 2rem;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.8rem;
}

.cancel__button {
  background-color: #fff;
  color: #2d3748;
  border: 2px solid #d0d3d8;
}
